%form{"data-toggle" => "validator", :role => "form"}

.container.booking-forms
  .row
    .col-md-12
      %h2#form-title= 'New Booking'
  .row
    = form_for [@room, @booking] do |f|
      .col-md-12
        .form-group
          = f.label :name
          = f.text_field :name, :class => 'form-control', placeholder: 'Name of booking', autofocus: true, :required => ""
        .form-group
          = f.label :description
          = f.text_field :description, :class => 'form-control', placeholder: 'Description'
        .form-group
          = f.label :date
          #datetimepicker5.input-group.date
            %input#date{:name => "date", :type => "text", :class => 'form-control', placeholder: 'Date (dd-mm-yyyy)'}/
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar
        .form-group
          %div.start-time-picker
            %h5='Start time'
            #datetimepicker3
          %div.to
            %p= 'to'
          %div.end-time-picker
            %h5='End time'
            #datetimepicker4
      .col-md-12
        .form-group
          = f.label :end_time
        .form-group
          = f.label :start_time
          #datetimepicker6.input-group.date
            %input#booking_start_time{:name => "booking[start_time]", :type => "text", :class => 'form-control', placeholder: 'Start time', :required => ""}/
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar
        .form-group
          = f.label :end_time
          #datetimepicker7.input-group.date
            %input#booking_end_time{:name => "booking[end_time]", :type => "text", :class => 'form-control', placeholder: 'End time', :required => ""}/
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar
        = f.submit 'Book', :class => 'btn btn-primary', :id => 'book-button'

:javascript
  $(function () {
      $('#datetimepicker5').datetimepicker({
          format: 'DD-MM-YYYY',
          minDate: moment()
      });
      $('#datetimepicker3').datetimepicker({
          format: 'HH:mm',
          inline: true,
          useCurrent: true,
          minDate: moment(),
          stepping: 5
      });
      var d = new Date();

      $('#datetimepicker4').datetimepicker({
          format: 'HH:mm',
          inline: true,
          minDate: moment(),
          stepping: 5
      });
        $("#datetimepicker3").on("dp.change", function (e) {
            $('#datetimepicker4').data("DateTimePicker").minDate(e.date);
        });

        $("#datetimepicker3").on("dp.change", function (e) {
          if($('#datetimepicker4').data("DateTimePicker").date() <= e.date){
            $('#datetimepicker4').data("DateTimePicker").date(e.date.add(5, 'minutes'));
          }
        });

      $('#datetimepicker6').datetimepicker({
          format: 'YYYY-MM-DD HH:mm'
      });
      $('#datetimepicker7').datetimepicker({
          format: 'YYYY-MM-DD HH:mm',
          useCurrent: false
      });
      $("#datetimepicker6").on("dp.change", function (e) {
          $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
      });
      $("#datetimepicker7").on("dp.change", function (e) {
          $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
      });
      $('#datetimepicker3').on('dp.change', function() {
        storeTime()
      });



      $('#date').focus(function(){
        $('#datetimepicker5').datetimepicker('show');
      });

      $('#datetimepicker4').on('dp.change', function() {
        storeTime()
      });

      $('#datetimepicker5').on('dp.change', function() {
        storeTime()
      });

      function storeTime(){
        $('#booking_end_time').val(
          $('#date').val() + ' ' + $('#datetimepicker4 .timepicker-hour').html() + ':' + $('#datetimepicker4 .timepicker-minute').html()
          );
        $('#booking_start_time').val(
          $('#date').val() + ' ' + $('#datetimepicker3 .timepicker-hour').html() + ':' + $('#datetimepicker3 .timepicker-minute').html()
          );
      }
  });
