.container
  .row
    .col-md-4.booking-detail.col-md-offset-4
      %h2.title= @booking.name
      = link_to "<i class='fa fa-pencil'></i> Edit".html_safe , edit_room_booking_path(@room, @booking)
      |
      = link_to "<i class='fa fa-trash'></i> Cancel".html_safe, room_booking_path(@room, @booking), method: :delete
      %h4= @booking.description
      = @booking.start_time.strftime('%e %B %Y, %H:%M')
      = ' - '
      = @booking.end_time.strftime('%H:%M')
      %br
      %br
      = link_to 'Back to all bookings', '/'
