%h2= @booking.name
%h4= @booking.description
%h6= @booking.start_time.strftime('%e %B %Y, %H:%M')
%h6= @booking.end_time.strftime('%e %B %Y, %H:%M')

= link_to "Edit", edit_room_booking_path(@room, @booking)
|
= link_to 'Cancel', room_booking_path(@room, @booking), method: :delete
