.container.room-calendar
  .row
    .col-md-12
      %h2.title= @room.name
      = link_to "<i class='fa fa-pencil'> Edit</i>".html_safe, edit_room_path
      |
      = link_to "<i class='fa fa-trash'> Delete</i>".html_safe, room_path, method: :delete
      %br
      %a{:href => new_room_booking_path(@room) }
        %button.btn.btn-primary
          Create booking
          %i.fa.fa-calendar{"aria-hidden" => "true"}
      - if @room.bookings.any?
        = week_calendar events: @room.bookings do |date, bookings|
          = date
          - bookings.each do |booking|
            %div
              = link_to booking.name, room_booking_path(@room, booking)
              %br
              = booking.start_time.strftime('%H:%M')
              = ' - '
              = booking.end_time.strftime('%H:%M')
      - else
        No bookings yet!
