%h2= @room.name
= link_to 'Edit', edit_room_path
|
= link_to 'Delete', room_path, method: :delete

.container
  .row
    .col-md-12
      %a{:href => new_room_booking_path(@room) }
        %button.btn.btn-primary
          Create booking
          %i.fa.fa-calendar{"aria-hidden" => "true"}

- if @room.bookings.any?
  .container.calendar
    .row
      .col-md-12
        %h2#calendar-title= 'This room\'s bookings'
        = week_calendar events: @room.bookings do |date, bookings|
          = date
          - bookings.each do |booking|
            %div
              = link_to booking.name, room_booking_path(@room, booking)
              %br
              = booking.start_time.strftime('%H:%M')
              = ' - '
              = booking.end_time.strftime('%H:%M')
- else
  No bookings yet!
