!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Majordomo
    %link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Josefin+Slab:400,700%7CRaleway:300,500", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js", :rel => "stylesheet"}/
    %link{href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel: "stylesheet", integrity: "sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin: "anonymous"}/
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'shared/navigation'
    .container
      -flash.each do |name, msg|
        = content_tag :div, msg, class: [:alert, alert_for(name)]
      = yield
    %script{:crossorigin => "anonymous", :integrity => "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}



%footer
  .container
    .row.vcenter
      .pull-left.col-xs-6
        %p Copyright ©2017 by Edyta Wrobel, Sho Marovatsanga, Stefan Liute, Mica Whiby
      .col-xs-6
        .pull-right
          %a{:href => "#"}
            %i.fa.fa-linkedin-square.fa-icon
          %a{:href => "#"}
            %i.fa.fa-twitter-square.fa-icon
          %a{:href => "#"}
            %i.fa.fa-facebook-square.fa-icon
          %a{:href => "https://github.com/edytawrobel/majordomo"}
            %i.fa.fa-github-square.fa-icon
